.Header {
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
}
.Header ul {
    display: flex;
}
.Header li {
    list-style: none;
    width: 140px;
    height: 100%;
    line-height: 80px;
    cursor: pointer;
    color: #ffffff;
}

.Header li:hover {
    background-color: #292929;
}

@media (min-width: 500px) and (max-width: 580px) {
    .Header li {
        list-style: none;
        width: 90px;
    }
}
@media (min-width: 300px) and (max-width: 499px) {
    .Header li {
        list-style: none;
        width: 70px;
    }
}