.ProductBasket {
    width: 250px;
    height: 480px;
    padding: 30px;
    box-shadow: 0px 0px 5px 5px #dfdddf;
    margin: auto;
}

.ProductBasket img {
    height: 150px;
    width: 200px;
    margin-bottom: 10px;
}

.ProductBasket h1 {
    font-size: 20pt;
    margin-bottom: 10px;
}

.ProductBasket p {
    font-size: 14pt;
    margin-bottom: 10px;
}

.ProductBasket .delete {
    height: 50px;
    width: 200px;
    border-style: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16pt;
}
.ProductBasket .delete:hover {
    background-color: #292929;
}

.ProductBasket .basketQty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.ProductBasket .basketQty button {
    width: 30px;
    border-style: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16pt;
}

.ProductBasket .basketQty button:hover {
    background-color: #292929;
}